.loading{
	text-align:center;
	img{
		width: 38px;
	}
	p{
		margin-top: 14px;
		font-size: 14px;
		color:$color-grey1;
	}
	h3{
		margin-top:30px;
		color:$light-grey;
	}
	.btn{
		font-size: 18px;
		margin-top:76px;
	}
}