.login-container {
    @include vertical-align();
        .panel-default {
                border-color: transparent;
        }
    .role-tile,
    .casino-tile {
        .panel-title{
            color:$value-text;
            font-size: 14px;
            text-transform: uppercase;
        }
        .panel-heading {
            background: transparent;
            border: transparent;
        }
        max-width: 800px;
        margin:0 auto;
        background-color:$info-border;
        border-radius:0px;
        padding: 3px 0px;
    }
}

.cardSwipe {
    left: calc(50% - 117px);
    width: 234px;
    bottom: 64px;
    position: absolute;
    font-size: 14px;
    color: $inactive-text;
    text-align: center;
    // padding-top: 70px;
    span {
        display: block;
        img {
            width: 49px;
            padding-bottom: 10px;
        }
    }
}

.login {
    position: relative;
    box-shadow: 0px 10px 25px $darker-grey;
    max-width: 390px;
    min-height: 270px;
    margin: 0 auto;
    padding: 0px;
    .panel {
        border: none;
        background-color: transparent;
    }
    .panel-default {
        margin-bottom: 0;
        border-radius: 0;
        .panel-heading {
            height: 45px;
            background-color: $info-panel-bg;
            border-color: $info-panel-bg;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            .panel-title {
                margin: 5px 0;
                display: inline-block;
                font-weight: 400;
                color: $light-grey;
                text-transform: uppercase;
                font-family: 'OpenSans-Semibold';
                font-size: 14px;
            }
        }
        .panel-body {
            padding: 51px;
            background-color: $icon-bg;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            label {
                color: $grey5;
            }
            input {
                height: 40px;
                color: $grey5;
            }
            .form-group {
                margin-bottom: 5px;
            }
            button {
                font-size: 15px;
                height: 40px;
                padding: 0;
                border-radius: 3px;
            }
        }
    }
}
