* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background: url('../images/bg-pattern.png') repeat;
    font-family: "OpenSans-Regular", Georgia, Serif;
    font-weight: normal;
    .main-container {
        height: 100%;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper{
        border: 1px solid black;
            height: 100vh;
}

.brand-logo p{
    width: 120px;
    img{
        width: 100%;
    }
}