/* Global CSS that are applied for all screen sizes */

// STAT NAVBAR
.navbar {
    width: 200px;
    float: left;
    box-shadow: 11px 3px 28px -10px rgba(0, 0, 0, 0.5);
    height: calc(100% - 64px);
    ul {
        font-size: 1.1em;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 300;
        li span {
            display: block;
        }
        li {
            background: #383B44;
            width: 200px;
            height: 25%;
            text-align: center;
            transition: border .5s;
            a {
                height: 100%;
                &:hover {
                    background: #E9543B;
                    border-bottom: 4px solid #A73C28;
                }
            }
        }
    }
    a {
        width: auto;
        display: block;
        color: #232328;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .5s, background .5s, height .5s, border-bottom .5s;
    }
    i {
        position: relative;
        transform: translate3d(0, 0, 0);
        display: inline-block;
        margin: 0 auto;
        padding: 14px 16px;
        border-radius: 50%;
        font-size: 30px;
        width: 60px;
        height: 60px;
        box-shadow: 0 0 0 30px transparent;
        background: rgba(255, 255, 255, 0.1);
        transform: translate3d(0, 0, 0);
        transition: box-shadow .6s ease-in-out;
    }
}

// END NAVBAR
.navbar li a:hover,
.navbar li a:active,
.navbar li a:focus {
    border-bottom: 4px solid #A73C28;
}

a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-touch .navbar ul:hover a {
    color: rgba(249, 249, 249, .5);
}

.no-touch .navbar ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
}


/* Placing the icon */

.icon {
    padding-top: 1.4em;
}

.icon + span {
    margin-top: 1.1em;
    transition: margin .5s;
}


/* Making the text follow the height animation */

.no-touch .navbar a:hover .icon + span {
    margin-top: 1.5em;
    transition: margin .5s;
}


/* Animate the box-shadow to create the effect */

.no-touch .navbar a:hover i,
.no-touch .navbar a:active i,
.no-touch .navbar a:focus i {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    transition: box-shadow .4s ease-in-out;
}

// MAIN INNER CONTENT
.main {
    width: calc(100% - 200px);
    float: left;
    height: calc(100% - 64px);
}

//-------------------------- TOP NAV-------------------
.nav-wrapper {
    background: #F16B48;
    .register {
        a {
            color: #fff;
        }
    }
}
